html{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body{
  background-color:#C1C1C1;
}
header{
  width:100%;
}
footer{
  font-size: .75em;
}
#header-image{
  width:100%;
  height:20vh;
  padding:0px 25px;
  position: relative;
  background-image:url('./images/header-photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom 0px;
  z-index: 1;
  // @media(max-width: 768px){
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-around;
  // }

}
#header-transition{
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,7db9e8+100&1+0,0+47 */
  background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(86,114,136,0) 47%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(86,114,136,0) 47%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(86,114,136,0) 47%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
  z-index: -1;
}
.header-title-container{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  img{
    width: 50%;
    margin:10px 0px;
  }
}
.header-title{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  line-height: 1em;
  font-size:4.5em;
  color:#fff;
  z-index: 3;
  @media(max-width: 768px){
    font-size: 3em;
  }
}
.wrapper{
  margin:0px 25px;
  text-align: center;
  font-family:"Futura",Helvetica,sans-serif;
}
.grey-bar{
  background-color:gray;
  height:25px;
}
#header-nav{
  background-color:#1A1A1A;
  min-height:25px;
  color:#fff;
  padding-left: 25px;
  @media(max-width: 765px){
    height:50px;
    overflow-y: visible;
  }
  @media only screen
    and (min-device-width : 769px)
    and (max-device-width : 1024px){
      height:50px;
      overflow-y: visible;
    }
  ul{
    li{
      margin-right:30px;
      a{
        &:hover{
          text-decoration: none;
          width:600px;
          background: none;
        }
        display: inline;
        height:100% !important;
      }
    }
    list-style-type: none;
    @media(max-width: 765px){
      width:25vw;
      float: right;
      z-index: 10 !important;
      background-color: inherit;
    }
    @media only screen
      and (min-device-width : 769px)
      and (max-device-width : 1024px){
        width:25vw;
        float: right;
        z-index: 10 !important;
        background-color: inherit;
    }
  }
}
.glyphicon-play{
  display: inline-block;
  color:#35CAFC;
  margin-right: 5px;
}
.options-title{
  font-size: 2em;
  color:#000;
  margin-bottom:25px;
}
.lightgrey-bar{
  background-color:#C1C1C1;
  height:1px;
}
.icon-bar{
  background-color:white;
}
.yellow-bar{
  background-color:#F5F0A1;
  height:3px;
}
.red-bar{
  background-color:#FFAFBB;
  height:3px;
}
.featured{
  width:85vw;
  margin:25px auto;
  .featured-results{
    @media(min-width: 768px){
      display: flex;
      justify-content: space-between;
    }
  }
  // height:25vh;
  .featured-title{
    text-align: left;
    font-size: 1.5em;
  }
  .featured-title,.featured-results{
    @media(max-width: 768px){
      margin-left:auto;
    }
  }
}
// .featured-item{
//   height:20vh;
//   width:18vw;
//   border: 1px solid black;
//
// }
.featured-item{
  padding: 0px;
  height:25vh;
  @media(max-width: 768px){
    height:25vh;
    margin-bottom: 20px;
  }
}
.listing-img{
  width: 100%;
}
.listing-info{
  position: absolute;
  bottom:0px;
  height:35%;
  width: 100%;
  color:white;
  z-index: 1;
  text-align: left;
  padding: 5px;
}
.listing-info-opacity{
  position: absolute;
  bottom:0px;
  height:35%;
  width: 100%;
  background-color: black;
  opacity: .5;
}
.pic-holder{
  position: relative;
  width:90%;
  height:25vh;
  margin-right:auto;
  border: 1px solid #000;
  overflow-y: hidden;
}

.btn-3d-blue{
  display: inline-block;
  background-color: #35CAFC;
  position: relative;
  border: 3px solid #000;
  top: -20px;
  left: -20px;
  transition: all 100ms ease-in;
  color: #000;
  text-align: center;
}
.btn-pressed,.list-btn-pressed,.map-btn-pressed,.down-btn-pressed{
  top:0px !important;
  // left:0px !important;
  background-color: #fff !important;
  text-decoration: none !important;
  color:#000 !important;
  &:before{
    opacity: 0 !important;
  }
  &:after{
    opacity: 0 !important;
  }
}
.btn-pressed{
  left:20px !important;
}
.btn-3d-blue, .btn-3d-blue-neighborhood, .btn-3d-blue-down, .btn-3d-blue-results{
  display: inline-block;
  background-color: #35CAFC;
  position: relative;
  border: 3px solid #000;
  top: -20px;
  left: -20px;
  transition: all 100ms ease-in;
  color: #000;
  text-align: center;
  &:before{
    content: '';
    display: inline-block;
    position: absolute;
    opacity: 1;
    transition: opacity 100ms ease-in;
    background-color: #fff;

    width:calc(100% + 5px);
    height: 24px;
    top: calc(100%);
    left: 8px;
    transform: skew(45deg);
    border:3px solid #000;
  }
  &:after{
    content: '';
    display: inline-block;
    position: absolute;
    opacity: 1;
    transition: opacity 100ms ease-in;
    background-color: #fff;

    height: calc(100% + 4px);
    right: -24px;
    width:21px;
    top: 8px;
    border-top:3px solid #000;
    border-right:3px solid #000;
    transform: skewY(45deg);
  }
}
.btn-3d{
  // color: #fff;
  // letter-spacing: .25em;
  font-family: 'apercu-regular', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.day-btn {
  clear: both;
  position: relative;
  width: 430px;
  height:150px;
  @media(max-width:950px){
    width:275px;
  }
}
.neighborhood-dropdown,.sort-dropdown{
  font-size: 1em;
  line-height: 1em;
  color:#fff;
  padding:10px 0px 20px 0px;
  position: absolute;
  width:99%;
  height:30vh;
  overflow: scroll;
  opacity: .7;
  background-color: #35CAFC;
  z-index: 2 !important;
  @media(max-width: 950px){
    top:60px;
  }
}
.neighborhood-dropdown{
  top:90px;
}
.sort-dropdown{
}
.neighborhood-dropdown-list{
}
.highlighted{
  background-color:#95e1fb;
  z-index: 10;
}
.neighborhood-btn{
  clear: both;
  position: relative;
  width: 80%;
  height:95px;
  margin-right:-10px;
  font-size: 2.5em;
  line-height: 2.5em;
  @media(max-width:950px){
    font-size: 2em;
    height:65px;
  }
}
.down-btn{
  clear: both;
  // padding-top: 10px;
  // margin: 10px 0px;
  position: relative;
  width: 10%;
  height:95px;
  font-size: 2.5em;
  line-height: 2.5em;
  @media(max-width:950px){
    font-size: 2em;
    height:65px;
  }
}
.day-text{
  line-height: 1em;
  margin:0px 55px;
  display: flex;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
  @media(max-width:768px){
    display: block;
    margin:45px 35px;
  }
  *{
    margin-bottom: 5px;
  }
}
.day-text-1{
  text-align:left;
  font-family:inherit;
  font-size:1.5em;
}
.day-text-2{
  text-align:left;
  font-family:"Mirador",Mirador,serif;
  font-size: 4em;
  height: .75em;
  line-height: .75em;
  @media(max-width:949px){
    font-size:2.5em;
  }
}

.search-options,.results-search-options{
  margin: auto;
  margin-top:25px;
  width:90vw;
  a{
    &:hover{
      text-decoration: none;
      color:#000;
    }
    &:focus{
      text-decoration: none;
      color:#000;
    }
  }
}
.results-search-options{
  position: relative;
  height:75px;
  @media(max-width:765px){
    height:5vh;
    width:100%;
  }
  a{
    position: absolute;
    @media(max-width:765px){
      position: relative;
      font-size: .65em;
      // line-height: 1em;
    }
  }
}
#map{
  height: 400px;
  width: 100%;
}
.results-option{
  height:75px;
  font-size: 2em;
  line-height: 2em;
  @media(max-width:949px){
    height:35px;
    font-size: 1em;
    top:-10px;
    left:-10px;
    &:before{
      height:15px;
      left:4px;
    }
    &:after{
      width:14px;
      right:-16px;
      top:3.15px;
    }
  }
  @media(max-width:765px){
    line-height: 2.5em;
  }
  @media only screen
    and (min-device-width : 700px)
    and (max-device-width : 1024px){
      font-size:1em !important;
    }
}
.list-view,.map-view,.select-all{
  width:175px;
  @media(max-width:950px){
    width:100px;
    margin-right:-10px;
  }
  @media(max-width:765px){
    width:30%;
    margin-bottom:0px;
  }
}
.list-view,.map-view,.sort-by{
  font-family: "Mirador",Mirador,serif;
  line-height: 2.5em;
  @media(max-width: 950px){
    line-height: 2.25em;
  }
  @media(max-width:765px){
    width:25%;
    font-family: inherit;
  }
}
.select-all{
  font-family: inherit;
  font-size: 1.5em;
  left:0px;
  line-height: 3em;
  @media(max-width:950px){
    font-size: .9em;
    line-height: 2.25em;
  }
  @media(max-width:765px){
    left:auto;
    width:25%;
  }
}
.list-view{
  margin-right: -10px;
  left:auto;
  right:555px;
  @media(max-width:950px){
    right:395px;
  }
  @media(max-width:765px){
    right:auto;
  }
}
.list-btn-pressed{
  right:535px;
  @media(max-width:950px){
    right:395px;
    right:375px;
  }
  @media(max-width:765px){
    right:auto;
  }
}
.map-view{
  left:auto;
  right:380px;
  @media(max-width:950px){
    left:auto;
    right:290px;
  }
  @media(max-width:765px){
    right:auto;
  }
}
.map-btn-pressed{
  right:360px;
  @media(max-width:950px){
    left:auto;
    right:290px;
    right:270px;
  }
  @media(max-width:765px){
    right:auto;
  }
}
.sort-by{
  margin-right:-10px;
  width:300px;
  left:auto;
  right:75px;
  @media(max-width:950px){
    width:250px;
    margin-right:-10px;
    right:35px;
  }
  @media(max-width:765px){
    width:21%;
    right:auto;
  }
}
.sort-by-arrow{
  width:75px;
  left:auto;
  right:0px;
  span{
    line-height: 2.5em;
  }
  @media(max-width:950px){
    width:35px;
  }
  @media(max-width:765px){
    width:5%;
    right:auto;
    line-height: 1em;
    span{
      line-height: 2em;
    }
  }
}
.down-btn-pressed{
  right:-20px;
  @media(max-width:950px){
    width:35px;
  }
  @media(max-width:765px){
    width:5%;
    right:auto;
    span{
      line-height: 2em;
    }
  }
}
.results{
  margin-top:25px;
}
.results-item{
  height:30vh;
  // width:100%;
  margin:15px 5px;
  background-color: #fff;
  @media(max-width: 950px){
    height:20vh;
    margin:10px;
  }
  @media(max-width:765px){
    font-size: .75em;
    height:15vh;
  }
  @media only screen
    and (min-device-width : 500px)
    and (max-device-width : 1024px){
      font-size:1em;
      height:25vh;
    }
}
.results-div{
  height:100%;
}
.results-item-pic{
  position: relative;
  border-right:5px solid black;
  overflow-y: hidden;
  padding:0px;
  .results-item-selector{
    position: absolute;
    top:5px;
    left:5px;
    width:30px;
    height:30px;
    border: 1px solid #000;
    background-color: #fff;
    z-index: 4;
  }
  img{
    position: absolute;
    top:-50%;
    left:0px;
    width:100%;
    @media(max-width: 1050px){
      top:0px;
    }
  }
}
.results-item-info{
  position: relative;
  div{
    position: absolute;
    top:15px;
    text-align: left;
    font-size:2.5em;
    margin-bottom:15px;
    @media(max-width: 950px){
      font-size: 1.5em;
    }
    @media(max-width:765px){
      font-size:1em;
    }
  }
}
.results-item-time{
  position: relative;
}
.results-item-time-box{
  position: absolute;
  bottom:0px;
  right:0px;
  height:75%;
  width:100%;
  background-color: #000;
  color:white;
  font-size:3.5em;
  line-height: 3.5em;
  @media(max-width: 950px){
    font-size: 2em;
    line-height: 4em;
  }
}
